Checks:             '*,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-const-cast,-fuchsia-*,-google-readability-todo,-hicpp-*,-misc-non-private-member-variables-in-classes,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-readability-magic-numbers'
WarningsAsErrors:   '-*'
FormatStyle:        file