Checks:             '*,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-type-reinterpret-cast,-fuscia-*,-google-readability-todo,-hicpp-*,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type'
WarningsAsErrors:   '-*'
FormatStyle:        file