Checks:             '*,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-type-reinterpret-cast,-fuchsia-*,-google-readability-todo,-hicpp-*,-modernize-avoid-c-arrays,-modernize-use-trailing-return-type,-readability-magic-numbers'
WarningsAsErrors:   '-*'
FormatStyle:        file