---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
ReflowComments: false
AlignTrailingComments: true

# Braces
BreakBeforeBraces: Linux
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true

FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All

---
Language: ObjC
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
ReflowComments: false

AlignTrailingComments: true

# Braces
BreakBeforeBraces: Linux
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true

FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All

---
Language: CSharp
# Use 100 columns for C#.
ColumnLimit: 100
